{%- comment %}
    See https://ogp.me/
{% endcomment -%}

<meta property="og:title" content="{% if page.title %}{{ page.title | escape }} - {% endif %}{{ site.title | escape }}">

{%- if page.excerpt -%}
    {% assign excerpt = page.excerpt %}
{%- elsif page.layout == "home" -%}
    {% assign excerpt = site.description %}
{%- else -%}
    {% assign excerpt = "" %}
{%- endif -%}
{% if excerpt and excerpt != empty %}
<meta name="description" content="{{ excerpt | strip_html | truncate: 200 | normalize_whitespace | escape }}">
<meta property="og:description" content="{{ excerpt | strip_html | truncate: 200 | normalize_whitespace | escape }}">
{% endif -%}

{%- if site.twitter_username -%}
<meta name="twitter:creator" content="@{{ site.twitter_username | escape }}">
<meta name="twitter:site" content="@{{ site.twitter_username | escape }}">
{% endif -%}
<meta name="twitter:card" content="summary_large_image">
