// Custom styles for qunitjs.com

/* Plugins */
#plugins {
    list-style: none;
    padding: 0;
}
.plugin {
    border-bottom: 1px solid $color-off-white;

    h3 {
        margin-bottom: 0;
    }
}

/* Projects */
h3 a {
	// Improve balance of layout color contrast
	// (not everything the same color)
	color: inherit;
}
