// Amethyst theme variables for QUnit
// https://brand.jquery.org/colors/#qunit-purple

// Primary purple (vibrant)
$color-brand: #9c3493;

// Secondary purple (darker)
$color-accent: #390F39;

// Medium purple (lighter), based on 2015 qunitjs.com design
$color-medium: #6a2166;

// Light purple (match hue 300 of primary)
$color-bright: #fbdbfb;
