<!-- projects -->
<div class="project-select">
  <ul class="constrain">
    <li>
      <a href="#" title="" class="">
        <img src="/resources/i/logo-top-jquery.png" alt="jQuery" />
        <em>The core JS framework that allows you to write less, do more.</em>
      </a>
    </li>
    <li>
      <a href="#" title="" class="">
        <img src="/resources/i/logo-top-ui.png" alt="jQuery UI" />
        <em>The officially supported User Interface library for jQuery.</em>
      </a>
    </li>
    <li>
      <a href="#" title="" class="">
        <img src="/resources/i/logo-top-mobile.png" alt="jQuery Mobile">
        <em>Build mobile web apps with jQuery using this framework.</em>
      </a>
    </li>
    <li>
      <a href="#" title="" class="">
        <img src="/resources/i/logo-top-sizzle.png" alt="SizzleJS" />
        <em>A smoking fast CSS selector engine for JavaScript.</em>
      </a>
    </li>
    <li>
      <a href="#" title="" class="">
        <img src="/resources/i/logo-top-qunit.png" alt="QUnit" />
        <em>Write solid JavaScript apps by unit testing with QUnit.</em>
      </a>
    </li>
  </ul>
</div>
<!-- /projects -->

<!-- nav -->
<header class="border clearfix">

  <nav class="constrain clearfix top">
    <ul class="projects">
      <li class="jquery"><a href="#" title="jQuery">jQuery</a></li>
      <li class="jquery-ui"><a href="#" title="jQuery UI">jQuery UI</a></li>
      <li class="jquery-mobile"><a href="#" title="jQuery Mobile">jQuery Mobile</a></li>
      <li class="toggle-projects"><a href="#" title="All Projects">All Projects</a></li>
    </ul>
    <ul class="links">
      <li class="dropdown"><a href="#" title="Support">Support</a>
        <ul>
          <li><a href="#" title="Forum">Forum</a></li>
          <li><a href="#" title="IRC/Chat">IRC/Chat</a></li>
          <li><a href="#" title="Getting Help">Getting Help</a></li>
          <li><a href="#" title="Report a Bug">Report a Bug</a></li>
          <li><a href="#" title="Enterprise Support">Enterprise Support</a></li>
        </ul>
      </li>
      <li class="dropdown"><a href="#" title="Community">Community</a>
        <ul>
           <li><a href="#" title="Blog">Blog</a></li>
               <li><a href="#" title="Podcast">Podcast</a></li>
               <li><a href="#" title="Forums">Forums</a></li>
               <li><a href="#" title="Meetups">Meetups</a></li>
               <li><a href="#" title="Events">Events</a></li>
        </ul>
      </li>
      <li><a href="#" title="Contribute">Contribute</a></li>
      <li><a href="#" title="Donate">Donate</a></li>
      <li class="dropdown"><a href="#" title="">About</a>
        <ul class="last">
          <li><a href="#" title="Overview">Overview</a></li>
              <li><a href="#" title="Projects">Projects</a></li>
              <li><a href="#" title="Team">Team</a></li>
              <li><a href="#" title="History">History</a></li>
              <li><a href="#" title="Sponsors">Sponsors</a></li>
              <li><a href="#" title="Contact">Contact</a></li>
        </ul>
      </li>
    </ul>
  </nav>

</header>
<!-- /nav -->

<!-- tooltips -->
<div class="tooltips constrain">

	<div class="jquery tooltip">
		<a href="http://jquery.com" title="jQuery" class="branding">
			<img src="/resources/i/logo-top-jquery.png" alt="jQuery">
		</a>
		<ul>
			<li><a href="http://jquery.com">Overview</a></li>
			<li><a href="http://docs.jquery.com/Downloading_jQuery">Download</a></li>
			<li><a href="http://plugins.jquery.com">Plugins</a></li>
			<li><a href="http://api.pixelgraphics.us">API</a></li>
			<li><a href="http://docs.jquery.com">Documentation</a></li>
		</ul>
	</div>

	<div class="jquery-ui tooltip">
		<a href="http://jqueryui.com" title="jQuery UI" class="branding">
			<img src="/resources/i/logo-top-ui.png" alt="jQuery UI">
		</a>
		<ul>
			<li><a href="http://jqueryui.com">Overview</a></li>
			<li><a href="http://jqueryui.com/download">Download</a></li>
			<li><a href="http://jqueryui.com/themeroller">ThemeRoller</a></li>
			<li><a href="http://jqueryui.com/demos">Demos</a></li>
			<li><a href="http://jqueryui.com/demos/draggable/">Documentation</a></li>
		</ul>
	</div>

	<div class="jquery-mobile tooltip">
		<a href="http://jquerymobile.com" title="jQuery Mobile" class="branding">
			<img src="/resources/i/logo-top-mobile.png" alt="jQuery Mobile">
		</a>
		<ul>
			<li><a href="http://jquerymobile.com">Overview</a></li>
			<li><a href="http://jquerymobile.com">Download</a></li>
			<li><a href="http://jquerymobile.com">Development</a></li>
			<li><a href="http://jquerymobile.com">Demos</a></li>
			<li><a href="http://jquerymobile.com">Documentation</a></li>
		</ul>
	</div>

</div>
<!-- /tooltips -->
