---
layout: wrapper
---

<section class="hero">
    <div class="wrapper">
        <h1 class="hero-title"><img src="/img/logo-text.svg" alt="QUnit"></h1>
        <h2 class="hero-description">The powerful, easy-to-use JavaScript testing framework.</h2>

        <a class="hero-button button" href="{% link intro.md %}">Get Started</a>
        <a class="hero-button button secondary" href="https://api.qunitjs.com">View the Docs</a>
    </div>
</section>

<div id="home" class="main wrapper">
    {{ content }}
</div>
